In [1]:
# read 1st number
num1=input("plz enter 1st num")
# read 2nd number
num2=input("plz enter 2nd num")
#convert numbers from str to float
num1=float(num1)
num2=float(num2)
#print sum
print('sum =',num1+num2)
#print sub
print('sum =',num1-num2)
#print mul
print('sum =',num1*num2)

plz enter 1st num5
plz enter 2nd num3
sum = 8.0
sum = 2.0
sum = 15.0

In [6]:
#comparison operators
12!=11

True

In [3]:
#logical operators

5<=4 or 6>=3

True

In [4]:
9>=7 and 6>=3

True

In [5]:
9<=7 and 6>=3

False

In [28]:
#if statment simple condition
#Read age
age= input('plz enter your age: ')
gender=input('plz enter gender: ')
#convert age
age=float(age)
#compare age
if age<18 :
    print('not accepted')
elif age >=19 and gender =='m':
        print('accepted')
elif age >=21 and gender =='f':
        print('accepted')        
else:
        print('undefined gender')

plz enter your age: 21
plz enter gender: f
accepted

In [44]:
 #read 1st number
num1 = input('plz enter number1: ')    
 #read 1st number
num2 = input('plz enter number2: ') 
 #enter the operation
operation=input('plz enter operation: ') 
#convert operand to number
num1=float(num1)
num2=float(num2)
#condition:
if operation=='+':
    print('sum is: ',num1+num2)
elif operation=='-':
    print('sub is: ',num1-num2)
elif operation=='*':
    print('mul is: ',num1*num2)
elif operation=='/':
    print('div is: ',num1/num2)
else:
    print('operation is not defined')

plz enter number1: 2000
plz enter number2: 2000
plz enter operation: +
sum is:  4000.0

In [79]:
#Arrays
numlist=[1,2,3,4,5,6,7,8,9]
floatlist=[2.1,3.4]
list1=[1,2,3,'ali','mohamed']
print(numlist)
print(floatlist)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2.1, 3.4]
[1, 2, 3, 'ali', 'mohamed']

In [51]:
#print the range the array
numlist[0:3]

[1, 2, 3]

In [50]:
#to search for instance from behind in the array
numlist[-5]

5

In [52]:
#start showing from the index num 3
numlist[2:]

[3, 4, 5, 6, 7, 8, 9]

In [70]:
list1[3]='samy'
list1

[1, 2, 3, 'samy']

In [80]:
#to delete instance from the array
del(list1[2])
list1

[1, 2, 'ali', 'mohamed']

In [82]:
#to count the length of the array
len(list1)

4

In [87]:
#to search for instance in the array
if 'ali' in list1:
    print('the name is exist')
else:
    print('the name doesnt exist')

the name is exist

In [114]:
#to find minmum and maximum of numbers
numlist2=[1,2,3,4,5,6,7,8,9]
floatlist2=[2.1,3.4]
list2=['mohey','shehab','hussien','ali','mohamed']
print(max(numlist2))
print(max(floatlist2))
print(min(list2))

9
3.4
ali

In [115]:
#adding element at the nd of the array
list2.append('abdullah')
list2

['mohey', 'shehab', 'hussien', 'ali', 'mohamed', 'abdullah']

In [125]:
numlist2.append(10)
numlist2

[1, 2, 3, 4, 5, 6, 7, 8, 9, '10', 10, 10, 10, 10, 10, 10]

In [123]:
floatlist2.append(5.9)
floatlist2

[2.1, 3.4, 5.9, 5.9, 5.9]

In [127]:
#count Frequency of element
floatlist2.count(5.9)

3

In [129]:
#adding two arrays of any type
numlist2.extend(floatlist2)

In [131]:
numlist2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 '10',
 10,
 10,
 10,
 10,
 10,
 10,
 2.1,
 3.4,
 5.9,
 5.9,
 5.9,
 2.1,
 3.4,
 5.9,
 5.9,
 5.9]

In [132]:
#find the index number of element
numlist2.index(10)

10

In [134]:
#inserting element in specific place in the array
numlist2.insert(11,'ziko')
numlist2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 '10',
 10,
 'ziko',
 'ziko',
 10,
 10,
 10,
 10,
 10,
 2.1,
 3.4,
 5.9,
 5.9,
 5.9,
 2.1,
 3.4,
 5.9,
 5.9,
 5.9]

In [140]:
 #remove last element from the array
numlist2.append('samy')
numlist2.pop
numlist2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 '10',
 10,
 'ziko',
 'ziko',
 10,
 10,
 10,
 10,
 10,
 2.1,
 3.4,
 5.9,
 5.9,
 5.9,
 2.1,
 3.4,
 5.9,
 5.9,
 5.9,
 'samy',
 'samy',
 'samy',
 'samy']

In [141]:
 #remove element(number or string) from the array
numlist3=[1,2,3,4,5,6,7,8,9]
numlist3.remove(5)
numlist3

[1, 2, 3, 4, 6, 7, 8, 9]

In [143]:
 #reverse elements of the array from Z to A
numlist3=[1,2,3,4,5,6,7,8,9]
numlist3.reverse()
numlist3

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [144]:
#sorting the elements of the array
names=['tamer','celina','ali','bassem','zaki','sayed']
names.sort()
names

['ali', 'bassem', 'celina', 'sayed', 'tamer', 'zaki']

In [154]:
#tuble function
#you can delete all tuble but you cant delete one element from th tuble.
#del(namest)
namest=('tamer','celina','ali','bassem','zaki','sayed')

In [155]:
type(namest)

tuple

In [158]:
namest=list(namest)

In [159]:
type(namest)

list

In [8]:
#dictionary
search={'name':'hazem','age':27,'name':'salah'}
search['name']

'salah'

In [184]:
del(search['age'])
print(search)

{'name': 'salah'}

In [197]:
#strings
msg=('welcome ya %s in machine learning') %input('plz enter your name: ')
print(msg)

plz enter your name: NOUR
welcome ya NOUR in machine learning

In [210]:
#range between rwo numbers
#the third number is n+3rd
numbers= range(2,10,2)
numbers=list(numbers)
numbers

[2, 4, 6, 8]

In [214]:
#explore the number is in the list or not
5 in numbers

False

In [251]:
# for loop showing range of numbers horizontally
for n in range(15):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [265]:
msssg=('welcome ya %s in machine learning') %input('plz enter your name: ')

for s in range(len(msssg)):
    print(msssg[s])

plz enter your name: hussein
w
e
l
c
o
m
e

y
a

h
u
s
s
e
i
n

i
n

m
a
c
h
i
n
e

l
e
a
r
n
i
n
g

In [268]:
mvg=('welcome ya %s in machine learning') %input('plz enter your name: ')
for s in(mvg):print(s)

plz enter your name: s
w
e
l
c
o
m
e

y
a

s

i
n

m
a
c
h
i
n
e

l
e
a
r
n
i
n
g

In [271]:
list4=['mohey','shehab','hussien','ali','mohamed']
for n in(list4):print(n)

mohey
shehab
hussien
ali
mohamed

In [283]:
#for loop two elements
details={'name':'mohey','age':'29','gender':'male'}
for key,value in details.items():
    print(key+","+value)

name,mohey
age,29
gender,male

In [20]:
numl= input('plz enter the number:')
while numl != '0':
    print('continue')
    numl = input('plz enter the number:')
    print('bye bye')

plz enter the number:1
continue
plz enter the number:2
bye bye
continue
plz enter the number:3
bye bye
continue
plz enter the number:0
bye bye

In [28]:
#repeat something vertically
for i in range(0,5):
    print('*',end='@_@')

*@_@*@_@*@_@*@_@*@_@

In [38]:
for line in range(1,6):
    for i in range(0,5):
        print('*',end='')
    print('\n')

*****

*****

*****

*****

*****

In [4]:
#https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=true
numbr= int(input())
for i in range(numbr):print(i*i)

5
0
1
4
9
16

In [15]:
#loop: breaking the loop using break function
welcom='python'
for n in (welcom):
    if n =='h':
        break
    print(n)

p
y
t

In [56]:
#functions
#looping a function  using star in a nested loop 
def printstar(row,column):
    
    for line in range(row):
        for i in range(0,column):
            print('*',end='')
        print('\n')

In [57]:
printstar(2,3)

print('  welcome')
printstar(5,10)

***

***

  welcome
**********

**********

**********

**********

**********

In [58]:
def datasetcells(row,column):
    for num in range(row):
        for i in range(2,column):
            print('@',end='')
        print('\n')

In [64]:
#calling the function that already have been done with different parameters
datasetcells(3,30)
print('  welcome to hacker rank')
datasetcells(3,28)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@@@@@@@@@@@@@@@@@@@@@@@@@@@@

  welcome to hacker rank
@@@@@@@@@@@@@@@@@@@@@@@@@@

@@@@@@@@@@@@@@@@@@@@@@@@@@

@@@@@@@@@@@@@@@@@@@@@@@@@@

In [77]:
#using default arguement and required arguement
def table(column,row=3):
    for num in range(row):
        for i in range(0,column):
            print('instance,',end='')
        print('\n')

In [78]:
table(7)
print('welcome to python3')
table(3)

instance,instance,instance,instance,instance,instance,instance,

instance,instance,instance,instance,instance,instance,instance,

instance,instance,instance,instance,instance,instance,instance,

welcome to python3
instance,instance,instance,

instance,instance,instance,

instance,instance,instance,

In [4]:
#function by reference
def changeme(x):
    x.append([1,2,3,4]);
    print('values inside the function: ',x)

samlist=[20,30,40];
changeme(samlist)
print('values outside the function: ',samlist)

values inside the function:  [20, 30, 40, [1, 2, 3, 4]]
values outside the function:  [20, 30, 40, [1, 2, 3, 4]]