# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [30]:

import pandas as pd
#read only the first 5 rows, pass 5 to nrows parameter.
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv',nrows=5)
#Render a Data to a console-friendly tabular output.using to_string()
print(data.to_string())
# print the shape of the dataframe
print("Dataframe shape:", data.shape)
# print data type of each column
print("data type of each column:\n", data.dtypes)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3     58    335  4.34  4.35  2.75
Dataframe shape: (5, 10)
data type of each column:
 carat      float64
cut         object
color       object
clarity     object
depth      float64
table        int64
price        int64
x          float64
y          float64
z          float64
dtype: object

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [4]:
# print carat column
print(data[['carat']])
#create a new 'Quality -color' Column (cut,color)
data['Quality–color'] = data.cut + ', ' + data.color
print(data.head())

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31
   carat      cut color clarity  depth  table  price     x     y     z  \
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3     58    335  4.34  4.35  2.75

  Quality–color
0      Ideal, E
1    Premium, E
2       Good, E
3    Premium, I
4       Good, J

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [5]:

print("Summarize of 'object' columns:")
print(data.describe(include=['object']))

Summarize of 'object' columns:
            cut color clarity Quality–color
count         5     5       5             5
unique        3     3       4             5
top     Premium     E     SI2    Premium, I
freq          2     3       2             1

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [6]:
print("Original Dataframe:")
print(data.head())
print("\nDiamonds where length>5, width>5 and depth>5:")
result = data[(data.x>5) & (data.y>5) & (data.z>5)]
print(result.head())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z  \
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3     58    335  4.34  4.35  2.75

  Quality–color
0      Ideal, E
1    Premium, E
2       Good, E
3    Premium, I
4       Good, J

Diamonds where length>5, width>5 and depth>5:
Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z, Quality–color]
Index: []

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [9]:
data = data.rename(columns={'carat': 'newName1'})
data = data.rename(columns={ 'cut': 'newName2','color': 'newName3','clarity': 'newName4',})
# Or rename the existing DataFrame (rather than creating a copy) 
print(data)

   newName1 newName2 newName3 newName4  depth  table  price     x     y     z  \
0      0.23    Ideal        E      SI2   61.5     55    326  3.95  3.98  2.43
1      0.21  Premium        E      SI1   59.8     61    326  3.89  3.84  2.31
2      0.23     Good        E      VS1   56.9     65    327  4.05  4.07  2.31
3      0.29  Premium        I      VS2   62.4     58    334  4.20  4.23  2.63
4      0.31     Good        J      SI2   63.3     58    335  4.34  4.35  2.75

  Quality–color
0      Ideal, E
1    Premium, E
2       Good, E
3    Premium, I
4       Good, J

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [12]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nDiamonds that are either Good or Very Good:")
result = diamonds[(diamonds.cut == 'Good') | (diamonds.cut == 'Very Good:')]
print(result.head())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Diamonds that are either Good or Very Good:
    carat   cut color clarity  depth  table  price     x     y     z
2    0.23  Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4    0.31  Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
10   0.30  Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
17   0.30  Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30  Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [25]:
#print the name of all the columns.
print(diamonds.columns)
#Mean of each column.
print("\nMean of each column:")
print(diamonds.mean())
#Mean of each row of diamonds DataFrame.
print("\nMean of each row of diamonds DataFrame:")
print(diamonds.mean(axis=1).head())

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

Mean of each column:
carat       0.797940
depth      61.749405
table      57.457184
price    3932.799722
x           5.731157
y           5.734526
z           3.538734
dtype: float64

Mean of each row of diamonds DataFrame:
0    64.727143
1    65.292857
2    65.651429
3    66.535714
4    66.864286
dtype: float64

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [26]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nCalculate the mean of price for each cut:")
print(diamonds.groupby('cut').price.mean())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Calculate the mean of price for each cut:
cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [29]:
#count, minimum, maximum price for each cut of diamonds DataFrame
print("\nCount, minimum, maximum  price for each cut of diamonds DataFrame:")
print(diamonds.groupby('cut').price.agg(['count', 'min', 'max']))
#count how many times each value in cut series of diamonds DataFrame occurs. value_counts()
print("\nNumber of times each value in cut series of diamonds DataFrame occurs:")
print(diamonds.cut.value_counts())

Count, minimum, maximum  price for each cut of diamonds DataFrame:
           count  min    max
cut
Fair        1610  337  18574
Good        4906  327  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12082  336  18818

Number of times each value in cut series of diamonds DataFrame occurs:
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [16]:
print("\nNumber of missing values in each Series of diamonds DataFrame:")
print(diamonds.isnull().sum())

Number of missing values in each Series of diamonds DataFrame:
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64